In [3]:
# Import pandas.
import pandas as pd# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']
# Next, we'll import Pandas and convert the list to a Series.


# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [5]:
# Using the map() function we are going to change B to A, C to B, and D to C. 
# To change each string value in this Series to another value using the following format.

# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)
# Using the format above we can write the following in a new cell.

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [7]:
 #going to iterate through a list of grades and format each grade to the nearest whole number percent. 

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
my_grades

92
85
87
98

[92.34, 84.56, 86.78, 98.32]

In [8]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades
# Next, we can format the numerical grades to the nearest whole number percent as shown in the output after running the following line of code:

# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object